button {
    background-color: #003566;
    color: white;
    border-radius: 5px;
    width: 100px;
    border: none;
}

button:hover {
    color: white;
    background-color: #001D3D;
    transition: 0.5s;
}

form {
    margin: 0 auto;
}