.button {
    background-color: #003566;
    color: white;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.button:hover {
    color: white;
    background-color: #001D3D;
    transition: 0.5s;
}

.checkout {
    margin: 0 auto;
}